<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-lg-12">
        	 <a th:href="@{/cards/addNewCC}" class="btn btn-primary" type="submit">
        	 	<i class="fa fa-plus-circle" aria-hidden="true"></i> New Card
        	 </a>
        </div>
    </div>
	<br/>
    <div class="row">
        <div class="col-lg-3 col-md-6" data-th-each="card : ${cards}">
         <div class="panel panel-yellow">
             <div class="panel-heading">
                 <div class="row">
                     <div class="col-xs-3">
                         <i class="fa fa-cc-visa fa-5x" th:if="${card.cardType == 'V'}"></i>
                         <i class="fa fa-cc-mastercard fa-5x" th:if="${card.cardType == 'M'}"></i>
                         <i class="fa fa-cc-discover fa-5x" th:if="${card.cardType == 'D'}"></i>
                         <i class="fa fa-credit-card-alt fa-5x" th:if="${card.cardType == 'G'}"></i>
                         <i class="fa fa-cc-amex fa-5x" th:if="${card.cardType == 'A'}"></i>
                     </div>
                     <div class="col-xs-9 text-right">
                         <div data-th-text="${card.bankName}" style="font-weight: bold;">...</div>
                     </div>
                 </div>
             </div>
             <a th:href="@{/account/deposit}">
                 <div class="panel-footer">
                     <a th:href="@{/cards/view?cardId=}+${card.cardId}"> <span class="pull-left">View Details</span> </a>
                     <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                     <div class="clearfix"></div>
                 </div>
             </a>
         </div>
     </div>
        
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>